In [5]:
pip install pygeohash

Collecting pygeohash
Installing collected packages: pygeohash
Successfully installed pygeohash-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [22]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import pygeohash as gh

In [23]:
engine = create_engine('postgresql://yopter:R3x1q3tjk@yopter.ccyy9l6xansm.us-east-1.redshift.amazonaws.com:5439/yopterdwh')

In [24]:
df = pd.read_sql_query('SELECT * FROM public.customer_heart_beat limit 20;', engine)

In [25]:
df['Geohash']=df.apply(lambda x: gh.encode(x.latitude, x.longitude, precision=10), axis=1)

In [26]:
df

,id_heart_beat,id_customer,id_audience_type,created_at,latitude,longitude,beat_at,Geohash
0,143444.0,69779.0,7.0,2016-12-28 17:31:12.040288,19.459017,-99.064300,2016-12-28 17:31:12.040288,9g3w9wrsfx
1,144395.0,29044.0,9.0,2016-12-28 18:58:42.122829,19.487015,-99.141420,2016-12-28 18:58:42.122829,9g3qzgx2j6
2,7708.0,61473.0,6.0,2016-12-17 13:00:13.000000,19.345817,-99.079874,2016-12-16 23:04:21.994000,9g3w13u1x9
3,134973.0,81479.0,9.0,2016-12-28 00:53:38.609261,19.006056,-98.267410,2016-12-28 00:53:38.609261,9g6h5ggy73
4,7837.0,9580.0,6.0,2016-11-18 12:02:37.000000,19.390894,-99.006806,2016-11-18 05:40:24.857000,9g3w7412nh
5,7855.0,9580.0,6.0,2016-11-18 12:02:37.000000,19.390982,-99.006893,2016-11-18 07:10:24.898000,9g3w7412sj
6,7875.0,9580.0,6.0,2016-11-18 12:02:37.000000,19.390982,-99.006893,2016-11-18 08:50:24.973000,9g3w7412sj
7,7897.0,9580.0,6.0,2016-11-18 12:02:37.000000,19.390982,-99.006893,2016-11-18 10:40:24.909000,9g3w7412sj
8,7918.0,54119.0,6.0,2016-12-17 16:32:15.000000,19.513527,-99.055770,2016-12-17 15:30:48.629000,9g3x1bmf93
9,135125.0,81497.0,9.0,2016-12-28 01:15:37.894248,20.515755,-100.823500,2016-12-28 01:15:37.894248,9g8k9wy8fj
10,135696.0,80710.0,9.0,2016-12-28 01:40:46.777296,23.754969,-99.128136,2016-12-28 01:40:46.777296,9u1x0k3nep
11,135706.0,80392.0,9.0,2016-12-28 01:43:12.010858,20.683327,-103.332695,2016-12-28 01:43:12.010858,9ewt8t73je
12,8029.0,184.0,18.0,2016-12-18 11:43:17.000000,19.376546,-99.284406,2016-11-30 11:15:29.000000,9g3qhxrk99
13,8037.0,184.0,18.0,2016-12-18 11:43:17.000000,19.358319,-99.277997,2016-11-30 16:09:05.000000,9g3qhu5frh
14,8045.0,184.0,18.0,2016-12-18 11:43:17.000000,19.373922,-99.278053,2016-11-30 19:32:29.000000,9g3qhygvm8
15,143661.0,80162.0,9.0,2016-12-28 18:12:34.149922,19.514242,-99.020610,2016-12-28 18:12:34.149922,9g3x48rqsw
16,7700.0,61473.0,6.0,2016-12-17 13:00:13.000000,19.345817,-99.079874,2016-12-16 22:24:22.010000,9g3w13u1x9
17,134735.0,81532.0,9.0,2016-12-28 00:37:06.687863,18.985243,-98.215450,2016-12-28 00:37:06.687863,9g6hj01tn1
18,135019.0,80993.0,9.0,2016-12-28 00:59:24.373654,32.509130,-117.009415,2016-12-28 00:59:24.373654,9mubcqh77j
19,7848.0,9580.0,6.0,2016-11-18 12:02:37.000000,19.390982,-99.006893,2016-11-18 06:31:04.622000,9g3w7412sj

In [11]:
df = pd.read_sql_query('SELECT * FROM public.places_interest limit 20;', engine)

In [12]:
df

,id_place_interest,name,id_country,id_state,id_township,zip_code,polygon,central_latitude,central_longitude,central_geohash,created_by_user,created_at,updated_by_user,updated_at,active
0,6,Feria De Puebla,NaN,NaN,None,,"19.05648,-98.181816;19.055547,-98.181118;19.05...",19.057276,-98.180308,9g6hmv729j8r,141455,2017-08-24 21:27:22,1,2019-06-27 21:00:00,1
1,8,Museo De La No Intervención Fuerte De Loreto,NaN,NaN,None,,"19.057757,-98.187556;19.058204,-98.187287;19.0...",19.057773,-98.187014,9g6hmtq7sdru,141455,2017-08-24 21:39:55,1,2019-06-27 21:00:00,1
2,23,Universidad Iberoamericana Puebla,NaN,NaN,None,,"19.033732,-98.242562;19.030659,-98.244676;19.0...",19.031242,-98.242021,9g6hk2w34bxs,141455,2017-08-24 22:30:27,1,2019-06-27 21:00:00,1
3,87,City Market,141.0,NaN,None,05348,"19.358087,-99.272472;19.358452,-99.271646;19.3...",19.358087,-99.271908,9g3qjh03hbuq,141455,2017-08-30 21:55:03,1,2019-06-27 21:00:00,1
4,185,Museo De Las Artes Universidad De Guadalajara,141.0,14.0,None,,"20.674748,-103.359359;20.674046,-103.359324;20...",20.674402,-103.358989,9ewt858m0gzg,141455,2017-09-25 22:42:21,1,2019-06-27 20:01:14,1
5,241,Parque Metropolitano De Guadalajara,141.0,14.0,None,,"20.68045,-103.441408;20.666477,-103.444111;20....",20.672259,-103.440528,9ewmw5kbsuru,141455,2017-10-10 21:08:09,1,2019-06-27 21:00:00,1
6,12,Estrella De Puebla,NaN,NaN,None,,"19.035081,-98.232424;19.034929,-98.232949;19.0...",19.034351,-98.232279,9g6hk9j7jupy,141455,2017-08-24 21:59:38,1,2019-06-27 21:00:00,1
7,24,Hospital Angeles Puebla,NaN,NaN,None,,"19.021186,-98.236629;19.021581,-98.234956;19.0...",19.021951,-98.234679,9g6hhwgdyhdm,141455,2017-08-24 22:33:43,1,2019-06-27 21:00:00,1
8,36,Benemerita Universidad De Puebla,NaN,NaN,None,,"19.004875,-98.20594;19.002359,-98.20506;19.001...",19.002035,-98.200060,9g6hj7hyuu04,141455,2017-08-25 18:28:10,1,2019-06-27 21:00:00,1
9,41,Tintoreria Arboledas,NaN,NaN,None,,"19.020308,-98.217867;19.02042,-98.217803;19.02...",19.020334,-98.217784,9g6hhyxcrz0p,141455,2017-08-25 18:43:53,1,2019-06-27 21:00:00,1
10,74,Bosque De Chapultepec,NaN,NaN,None,,"19.425518,-99.191887;19.419528,-99.192874;19.4...",19.419002,-99.185472,9g3qqzp7fure,141455,2017-08-28 21:34:54,1,2019-06-27 20:01:13,1
11,29,La Victoria Centro Comercial,NaN,NaN,None,,"19.04753,-98.198722;19.048149,-98.198325;19.04...",19.047446,-98.197837,9g6hm7qx2t39,141455,2017-08-24 22:57:03,1,2019-06-27 21:00:00,1
12,64,Aeropuerto Internacional De La Ciudad De Mexico,NaN,NaN,None,,"19.433653,-99.087775;19.426894,-99.092066;19.4...",19.435757,-99.069750,9g3w9d5t7x8n,141455,2017-08-28 20:28:41,1,2019-06-27 20:01:13,1
13,68,Plaza De Toros Mexico,NaN,NaN,None,,"19.383669,-99.180056;19.383629,-99.179847;19.3...",19.382973,-99.180121,9g3qr0e4p8j9,141455,2017-08-28 21:01:19,1,2019-06-27 20:01:13,1
14,84,Club De Golf Mexico,NaN,NaN,None,,"19.28194,-99.159991;19.282527,-99.15984;19.284...",19.280167,-99.154251,9g3mxty547xs,141455,2017-08-28 23:27:29,1,2019-06-27 21:00:00,1
15,42,Plaza Cristal,NaN,NaN,None,,"19.023559,-98.21478;19.021531,-98.215853;19.02...",19.022190,-98.213975,9g6hjnfu290r,141455,2017-08-25 18:47:52,1,2019-06-27 21:00:00,1
16,79,Six Flags,NaN,NaN,None,,"19.297433,-99.212734;19.295611,-99.214021;19.2...",19.295226,-99.209687,9g3my2tdydzd,141455,2017-08-28 22:03:23,1,2019-06-27 20:01:13,1
17,89,Nuevo Panteon Jardin,NaN,NaN,None,,"19.35255,-99.258986;19.352327,-99.258857;19.35...",19.352398,-99.254286,9g3qj6vpzs2n,141455,2017-08-30 21:59:15,1,2019-06-27 21:00:00,1
18,142,Preparatoria No 2,NaN,NaN,None,,"19.383441,-99.100333;19.383138,-99.098456;19.3...",19.384205,-99.099212,9g3w2by1hvxy,157,2017-09-19 17:11:08,1,2019-06-27 20:01:14,1
19,162,Universidad Autonoma De Nuevo Leon,NaN,NaN,None,,"25.728545,-100.31672;25.727076,-100.316892;25....",25.727346,-100.311613,9u8dm7e2dhbh,141455,2017-09-21 18:41:20,1,2019-06-27 21:00:00,1

In [35]:
df= pd.read_sql_query('SELECT * FROM public.customer_heart_beat ORDER BY id_heart_beat DESC limit 1000;', engine)

In [36]:
df.head()

,id_heart_beat,id_customer,id_audience_type,created_at,latitude,longitude,beat_at
0,1.622021e+09,462818.0,27.0,2019-07-12 15:00:19,19.020954,-98.265518,2019-07-12 10:00:20
1,1.622021e+09,1310005.0,27.0,2019-07-12 15:00:19,28.610655,-106.015495,2019-07-12 09:00:18
2,1.622021e+09,1503576.0,27.0,2019-07-12 15:00:19,19.419201,-99.129890,2019-07-12 10:00:18
3,1.622021e+09,608902.0,27.0,2019-07-12 15:00:19,20.585488,-101.141149,2019-07-12 10:00:19
4,1.622021e+09,1491882.0,27.0,2019-07-12 15:00:19,19.492266,-99.015289,2019-07-12 09:52:15

In [37]:
df['Geohash']=df.apply(lambda x: gh.encode(x.latitude, x.longitude, precision=10), axis=1)

In [38]:
df.head()

,id_heart_beat,id_customer,id_audience_type,created_at,latitude,longitude,beat_at,Geohash
0,1.622021e+09,462818.0,27.0,2019-07-12 15:00:19,19.020954,-98.265518,2019-07-12 10:00:20,9g6h5ytjp6
1,1.622021e+09,1310005.0,27.0,2019-07-12 15:00:19,28.610655,-106.015495,2019-07-12 09:00:18,9thdg83v5u
2,1.622021e+09,1503576.0,27.0,2019-07-12 15:00:19,19.419201,-99.129890,2019-07-12 10:00:18,9g3w2ppv41
3,1.622021e+09,608902.0,27.0,2019-07-12 15:00:19,20.585488,-101.141149,2019-07-12 10:00:19,9g8j47rr0m
4,1.622021e+09,1491882.0,27.0,2019-07-12 15:00:19,19.492266,-99.015289,2019-07-12 09:52:15,9g3wfu7q8t

In [39]:
dfSubir = df[['id_heart_beat','Geohash']]

In [40]:
dfSubir.head()

   id_heart_beat     Geohash
0   1.622021e+09  9g6h5ytjp6
1   1.622021e+09  9thdg83v5u
2   1.622021e+09  9g3w2ppv41
3   1.622021e+09  9g8j47rr0m
4   1.622021e+09  9g3wfu7q8t

In [43]:
dfSubir.to_sql('Hearts_Geohash', engine, schema='analytics', index=False, if_exists='replace')

C:\Users\Kike\.conda\envs\KikeEnv\lib\site-packages\pandas\io\sql.py:1191: UserWarning: The provided table name 'Hearts_Geohash' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)