In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [2]:
engine = create_engine('postgresql://ltrejo:Kj0nzX32Y@yopter.ccyy9l6xansm.us-east-1.redshift.amazonaws.com:5439/yopterdwh')

In [11]:
catalogo = pd.read_csv("C:/Users/Kike/Documents/MEGA/Yopter/Catalogo_IRS_Coneval.csv",encoding="ISO-8859-1")

In [12]:
catalogo.head(10)

,Clave_Estado,Nombre_Estado,Clave_Mun,Nombre_Mun,IRS_2015,Nivel_Socioe
0,1.0,Aguascalientes,1001.0,Aguascalientes,Muy bajo,A
1,1.0,Aguascalientes,1002.0,Asientos,Bajo,B
2,1.0,Aguascalientes,1003.0,Calvillo,Bajo,B
3,1.0,Aguascalientes,1004.0,Cosío,Muy bajo,A
4,1.0,Aguascalientes,1005.0,Jesús María,Muy bajo,A
5,1.0,Aguascalientes,1006.0,Pabellón de Arteaga,Muy bajo,A
6,1.0,Aguascalientes,1007.0,Rincón de Romos,Muy bajo,A
7,1.0,Aguascalientes,1008.0,San José de Gracia,Bajo,B
8,1.0,Aguascalientes,1009.0,Tepezalá,Bajo,B
9,1.0,Aguascalientes,1010.0,El Llano,Bajo,B

In [13]:
catalogo.to_sql('Cat_Coneval_Nivel_Socieoec', engine, schema='analytics', index=False, if_exists='replace')

ProgrammingError: (psycopg2.ProgrammingError) permission denied for schema analytics

[SQL:
CREATE TABLE analytics."Cat_Coneval_Nivel_Socieoec" (
	"Clave_Estado" FLOAT(53),
	"Nombre_Estado" TEXT,
	"Clave_Mun" FLOAT(53),
	"Nombre_Mun" TEXT,
	"IRS_2015" TEXT,
	"Nivel_Socioe" TEXT
)

]
(Background on this error at: http://sqlalche.me/e/f405)

In [27]:
df.head()

   id_place_interest  id_category                category
0                  3         1321             Universidad
1                  6         1267               Auditorio
2                  6         1255                  Parque
3                  9         1330  Centro de exposiciones
4                  9         1269                  Teatro

In [19]:
df.loc[df['category'] == "Restaurante"]

       id_place_interest  id_category     category
8                     20         1303  Restaurante
9                     20         1303  Restaurante
10                    20         1303  Restaurante
42                   365         1303  Restaurante
45                   483         1303  Restaurante
53                   491         1303  Restaurante
54                   491         1303  Restaurante
65                   470         1303  Restaurante
66                   470         1303  Restaurante
67                   470         1303  Restaurante
128                   39         1303  Restaurante
134                   13         1303  Restaurante
135                   13         1303  Restaurante
139                   39         1303  Restaurante
143                  471         1303  Restaurante
144                  473         1303  Restaurante
145                  473         1303  Restaurante
150                  471         1303  Restaurante
151                  471         1303  Restaurante
162                   74         1303  Restaurante
163                   74         1303  Restaurante
165                   75         1303  Restaurante
166                   75         1303  Restaurante
167                   75         1303  Restaurante
174                   11         1303  Restaurante
175                   11         1303  Restaurante
176                   11         1303  Restaurante
189                   42         1303  Restaurante
190                   42         1303  Restaurante
191                   42         1303  Restaurante
...                  ...          ...          ...
10650                 74         1303  Restaurante
10651                 74         1303  Restaurante
10653                 75         1303  Restaurante
10654                 75         1303  Restaurante
10659                201         1303  Restaurante
10661                368         1303  Restaurante
10662                369         1303  Restaurante
10663                368         1303  Restaurante
10664                 11         1303  Restaurante
10677                 42         1303  Restaurante
10678                 42         1303  Restaurante
10679                 42         1303  Restaurante
10779                 69         1303  Restaurante
11699                 81         1303  Restaurante
11700                 81         1303  Restaurante
11701                 81         1303  Restaurante
11703                 81         1303  Restaurante
11704                 81         1303  Restaurante
11705                 81         1303  Restaurante
11706                 81         1303  Restaurante
11729                 78         1303  Restaurante
11730                 78         1303  Restaurante
11731                 78         1303  Restaurante
11751                472         1303  Restaurante
11752                472         1303  Restaurante
11839                 95         1303  Restaurante
14286                101         1303  Restaurante
19687              16797         1303  Restaurante
29516              25685         1303  Restaurante
29538              25685         1303  Restaurante

[183 rows x 3 columns]

In [28]:
df = df.pivot_table(index="id_category", values="id_place_interest", columns= aggfunc="count",fill_value=0)

In [29]:
df.loc[df['id_category'] == "1303"]

             id_place_interest
id_category
1250                        97
1251                        54
1252                        18
1253                         5
1254                        69
1255                        58
1256                        16
1257                        28
1258                         3
1259                         3
1260                         3
1261                         3
1262                         5
1263                        22
1264                         3
1265                         3
1266                         3
1267                       460
1268                        18
1269                        14
1270                         3
1271                         3
1272                         3
1273                       781
1274                        65
1275                         5
1276                         4
1277                         3
1278                         4
1279                        12
...                        ...
1308                        13
1309                         3
1310                         4
1311                       102
1312                       239
1313                       358
1314                       320
1315                         4
1316                      1174
1317                       558
1318                      5443
1319                        24
1320                         9
1321                      1769
1322                         5
1323                         3
1324                        18
1325                         3
1326                         3
1327                         8
1328                         3
1329                         3
1330                        10
1421                         6
1422                         2
1423                         2
1424                         3
1425                       118
1426                         2
1427                        56

[88 rows x 1 columns]